#page-heder{
    width: 100%;
    position: relative;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #1e1e1e;
}
#page-heder a{
    color: #c1b575;
    text-decoration: none;
    display: block;
    font-size: 13px;
    width: 200px;
    margin-right: 0;
    float: left;
    line-height: 40px;
    margin-left: 20px;
}
#mein{
  margin-top: 2px;
margin-right: 0;
    width: 50%;
    padding: 20px;
    border-top:1px solid #1e1e1e ;
    border-right: 1px solid #1e1e1e;
    height: 342px;
   float: left;
    color: #c1b575;
    font-size: 13px;
   
}
#page-heder p{
    width: 100px;
    float: right;
    margin-left: 0;
    text-align: right;
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
}
#sidebar{
    height: 342px;
    width: 41.6%;
    border-top:1px solid #1e1e1e ;
    border-left: 1px solid #1e1e1e;
    position: relative;
    float: right;
    margin-top: 2px;
    padding: 20px;
}
#mein input{
    background-color: #000000;
    border-color: #1e1e1e;
    color: #c1b575;
    margin-top: 0;
    width: 216px;
    height: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
#mein label{
    color: #606060;
    margin-top: 20px;
    
    
}
#username{
    background-color: #000000;
    border-color: #1e1e1e;
    color: #c1b575;
    margin-top: 0;
    width: 216px;
    height: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
#sidebar label{
    color: #606060;
    margin-top: 20px;
    
    
}
#recaptcha{
    margin-bottom: 20px;
}
#butt{
    text-shadow: 2px 2px 2px #202020;
   
    color: #999;
    font-size: 14px;
    width: 193px;
    height: 42px;
    border-radius: 4px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    margin-top: 20px;
}
#sidebar a{
    text-decoration: none;
    color: #1f6fbf;
}

#txt{
    font-size: 25px;
    color: red;
}
