.wrapper{
    z-index: 2;
    width: 1000px;
    margin: 0 auto;
    top: -136px;
    bottom: -136px;
    position: relative;
    border: 5px solid #240d01;
    border-radius: 3%;
    background-color: #0f0f0f;
    padding: 7px;
    overflow: hidden;
}
#page-heder{
    width: 100%;
    position: relative;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #1e1e1e;
}
#page-heder a{
    color: #c1b575;
    text-decoration: none;
    display: block;
    font-size: 13px;
    width: 200px;
    margin-right: 0;
    float: left;
    line-height: 40px;
    margin-left: 20px;
}
#mein{
  margin-top: 2px;
margin-right: 0;
    width: 50%;
    padding: 20px;
    border-top:1px solid #1e1e1e ;
    border-right: 1px solid #1e1e1e;
    height: 342px;
   float: left;
    color: #c1b575;
    font-size: 13px;
   
}


#footer{
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -50px;
    font-size: 15px;
    width: 700px;
    
}
#footer a{
    text-decoration: none;
    color:#606060;
    margin-left: 10px;

}
#footer a:hover{
    color: #c1b575;
}
#page-heder p{
    width: 100px;
    float: right;
    margin-left: 0;
    text-align: right;
    margin-right: 30px;
    font-size: 15px;
    margin-top: 10px;
}
#sidebar{
    height: 342px;
    width: 41.6%;
    border-top:1px solid #1e1e1e ;
    border-left: 1px solid #1e1e1e;
    position: relative;
    float: right;
    margin-top: 2px;
    padding: 20px;
}
.inp{
    background-color: #000000;
    border-color: #1e1e1e;
    color: #c1b575;
    margin-top: 0;
    width: 216px;
    height: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
#mein label{
    color: #606060;
    margin-top: 20px;
    
    
}
#txt{
    background-color: #000000;
    border-color: #1e1e1e;
    color: #c1b575;
    margin-top: 0;
    width: 216px;
    height: 19px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

    
    


#butt{
    text-shadow: 2px 2px 2px #202020;
   
    color: #999;
    font-size: 14px;
    width: 193px;
    height: 42px;
    border-radius: 4px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #1e1e1e;
    margin-top: 20px;
}
#sidebar a{
    text-decoration: none;
    color: #1f6fbf;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}
#mein span{
    color: #606060;
}
#text{
    font-size: 25px;
    color: red;
}
